h4 1. Check the 
    a(href="#schedule" id="scheduleTitle") Schedule 
h4 for an Available Time Slot
h4 2. Fill out the form below 
include apptForm.pug
h4 3. Once Confirmed, You will Receive a Confirmation Email or a Text
h4 4. See You Later Aligator - 
h4
    a(href="/" class="backhome") Back Home
        

