div.row#fixedQuestionBar
    div.col-3
    div.col-1.optionbox
        p A
    div.col-6.optionbox
            p#optionA #{optionA} 
    div.col-2          
div.row
    div.col-3
    div.col-1.optionbox
        p B
    div.col-6.optionbox
            p#optionA #{optionB} 
    div.col-2   
div.row  
    div.col-3
    div.col-1.optionbox
        p C
    div.col-6.optionbox
            p#optionA #{optionC} 
    div.col-2    
div.row
    div.col-3
    div.col-1.optionbox
        p D
    div.col-6.optionbox
            p#optionA #{optionD} 
    div.col-2   
