div.row-no-gutters.videoBox
    div.col-10.offset-2
         iframe(width="560" height="315" src="https://www.youtube.com/embed/2608YNDv5ko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)